/* CSS declarations go here */

aside {
  position: absolute;
  top: 0; left: 0;
  width: 140px;
  height: 100%;
  padding: 20px;
  background: #fafaff;
}

.left-section {
  margin-left: 140px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  aside { left: -140px; }
  .left-section { margin-left: 0; }
}

header {
  background: #fafafa;
  height: 40px;
  padding: 3px;
}

.content-section {
  padding: 30px;
}

.oninput {
  position: absolute;
  top: 3px; bottom: 3px;
  left: 0;
  width: 80%;
  overflow: hidden;
  box-sizing: border-box;
}

td, th {
  position: relative;
  height: 20px;
}

.eval-editable:hover {
  cursor: pointer;
  text-decoration: underline;
}


.eval-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}